/*home*/


body {
    background-image: url('../pics/homePic.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.button {
    font-family: 'Amatic SC', cursive;
    border-radius: 4px;
    background-color: #f2736c;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 55vh;
    margin-left: 75vw;
    outline: none;
}

    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

        .button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

    .button:hover span {
        padding-right: 25px;
    }

        .button:hover span:after {
            opacity: 1;
            right: 0;
        }





@keyframes bt {
    0% {
        transform: scale(1.35);
    }

    49% {
        background-color: darksalmon;
    }

    100% {
        transform: scale(1.5);
    }
}

button {
    animation-name: bt;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

img {
    display: block;
    margin: 30px;
}
